.errorPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center, center;
    background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5)), url(../../images/404/bg.jpeg);
    background-size: cover;
}

.wrap {
    text-align: center;
    color: #ffffff;
}

.title {
    font-size: 180px;
    font-weight: 100;
    margin: 0;
}

.span {
    font-size: 34px;
}