.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 413px;
}

.innerEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 413px;
    width: 100%;
    padding: 36px 30px 60px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wrapLogoEmail {
    width: 163px;
}

.imgEmailLogo {
    width: 100%;
}

.wrapPicEmail {
    width: 108px;
}

.imgEmail {
    margin-top: 10px;
    width: 100%;
}

.titleEmail {
    margin: 32px 0 15px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.spanEmail {
    text-align: center;
    color: #6b6b7e;
    font-family: "SF UI Display", sans-serif;
    font-size: 14px;
    font-weight: 600;
}