.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 413px;
    width: 100%;
    padding: 36px 30px 60px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wrap {
    width: 163px;
}

.img {
    width: 100%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 32px 0 39px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.text {
    margin: 17px 0 0;
    font-family: "SF UI Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9393a2;
    text-align: center;
}