.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 413px;
    width: 100%;
    padding: 36px 30px 60px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wrap {
    width: 163px;
}

.img {
    width: 100%;
}

.title {
    margin: 32px 0 39px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span {
    margin-top: 20px;
    color: #9393a2;
    font-family: "SF UI Display", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.link {
    margin-top: 5px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: 1s, border-bottom 0.5s;
    -webkit-transition: 1s, border-bottom 0.5s;
    -moz-transition: 1s, border-bottom 0.5s;
    -ms-transition: 1s, border-bottom 0.5s;
    -o-transition: 1s, border-bottom 0.5s;
}

.link:hover {
    border-bottom: 2px solid #21268f;
}