.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-width: 413px;
    padding: 36px 30px 60px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.wrap {
    width: 163px;
}

.img {
    width: 100%;
}

.formLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.formWrap {

    display: flex;
    align-self: flex-start;
    align-items: left;
}

.title {
    margin: 32px 0 39px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.span {
    margin-left: 10px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

label {
    display: inline-block;
    margin-top: 24px;
    opacity: 0.5;
    color: #24254a;
    font-family: "SF UI Display";
    font-size: 13px;
    font-weight: 400;

}

.formWrap label {
    margin-top: 0px;
}

.recover {
    padding-bottom: 2px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: 1s, border-bottom 0.5s;
    -webkit-transition: 1s, border-bottom 0.5s;
    -moz-transition: 1s, border-bottom 0.5s;
    -ms-transition: 1s, border-bottom 0.5s;
    -o-transition: 1s, border-bottom 0.5s;
}

.recover:hover {
    border-bottom: 2px solid #21268f;
}