.default {
    display: inline-block;
    padding: 7px 36px;
    font-size: 14px;
    border: 3px solid transparent;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    font-family: "SF UI Display", sans-serif;
    font-weight: 500;
    background-color: #21268f;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: margin-right 1.5s, color 1s;
    -webkit-transition: margin-right 1.5s, color 1s;
    -moz-transition: margin-right 1.5s, color 1s;
    -ms-transition: margin-right 1.5s, color 1s;
    -o-transition: margin-right 1.5s, color 1s;
}



.default:hover {
    cursor: pointer;
    border: 3px solid #21268f;
    color: #21268f;
    background-color: transparent;
}

.default:active {
    color: rgb(255, 255, 255);
    background-color: #21268f;
}

.defaultDisable {
    display: inline-block;
    padding: 7px 36px;
    font-size: 14px !important;
    border: 3px solid #9393a2;
    outline: none;
    border-radius: 30px;
    color: #9393a2;
    font-family: "SF UI Display", sans-serif;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    background-color: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* .defaultDiseible .brownBtn {
    display: inline-block;
    width: 15em;
    font-size: 70%;
    color: rgba(255, 255, 255, .9);
    border: 1px solid;
    border-color: #5f4404;
    border-radius: 6px;
    outline: none;
    background: #874802;
} */

.brownBtn:first-line {
    font-size: 170%;
    font-weight: 700;
}

.brownBtn:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#865204, #9c6906 50%, #d09304);
}

.brownBtn:active {
    color: rgb(255, 255, 255);
    border-color: #af5710;
    background-image: linear-gradient(#9c6906 50%, #d09304, #865204);
}

.greyBtn {
    display: inline-block;
    width: 15em;
    font-size: 70%;
    color: rgba(255, 255, 255, .9);
    border: 1px solid;
    border-color: #848690;
    border-radius: 6px;
    outline: none;
    background: #8d8a8a;
}

.greyBtn:first-line {
    font-size: 170%;
    font-weight: 700;
}

.greyBtn:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#d0d1d2, #898c8d 50%, #383839);
}

.greyBtn:active {
    color: rgb(255, 255, 255);
    border-color: #888b8d;
    background-image: linear-gradient(#898c8d 50%, #383839, #d0d1d2);
}

.red {
    display: inline-block;
    width: 15em;
    font-size: 70%;
    color: rgba(255, 255, 255, .9);
    border: 1px solid;
    border-color: red;
    border-radius: 6px;
    outline: none;
    background: #f62c2c;
}

.red:first-line {
    font-size: 170%;
    font-weight: 700;
}

.red:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#ffd4d9, #f59fb4 50%, #bb405a);
}

.red:active {
    color: rgb(255, 255, 255);
    border-color: #c40000;
    background-image: linear-gradient(#ee999e, #f16076);
    box-shadow: none;
}