.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 413px;
    width: 100%;
    padding: 36px 30px 60px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 415px) {
    .inner {
        min-width: 355px;
    }
}

@media (max-width: 360px) {
    .inner {
        min-width: 318px;
    }
}

.wrap {
    width: 163px;
}

.img {
    width: 100%;
}

.title {
    margin: 20px 0 30px;
    color: #2d2e46;
    font-family: "SF UI Display", sans-serif;
    font-size: 22px;
    font-weight: 600;

}

form {
    width: 100%;
}

label {
    display: inline-block;
    margin-top: 20px;
    opacity: 0.5;
    color: #24254a;
    font-family: "SF UI Display";
    font-size: 13px;
    font-weight: 400;

}

.wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 415px) {
    .wrapper {
        height: 80px !important;
        margin-top: 30px;
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;

    }
}